name: Upload APK in Releases
on:
  workflow_dispatch:

jobs:
  apk:
    name: Upload APK in Releases
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Grant Permission to Execute
        run: chmod +x gradlew
        
      - name: Build debug APK
        run: bash ./gradlew assembleRelease --stacktrace

      - name: Zip Release
        run: zip -r app/release.zip app/build/outputs/apk
        
      - name: Upload APK to Github Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Retromatic
          path: app/release.zip
